- flash.each do |name, messages|
  - if messages.is_a?(String)
    %div{class: "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
      = content_tag :div, messages, id: "flash_#{name}"
  - elsif messages.is_a?(Array)
    - messages.each do |message|
      %div{class: "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
        = content_tag :div, message, id: "flash_#{name}"
